<%- include('../layouts/admin/header') %>
    <!--begin::Body-->

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <!--begin::App Wrapper-->
        <div class="app-wrapper">
            <%- include('../layouts/admin/navbar-sidebar') %>
                <!--begin::App Main-->
                <main class="app-main">
                    <!--begin::App Content Header-->
                    <div class="app-content-header">
                        <!--begin::Container-->
                        <div class="container-fluid">
                            <!--begin::Row-->
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="mb-0">Upadate Password</h3>
                                </div>
                                <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
              </div> -->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::App Content Header-->
                    <!--begin::App Content-->
                    <div class="app-content">
                        <!--begin::Container-->
                        <div class="container-fluid">

                            <div class="container d-flex justify-content-center align-items-center min-vh-100">
                                <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
                                    <h4 class="mb-4 text-center">Update Password</h4>
                                    <input type="hidden" id="userId" name="userId" value="<%=userId%>">
                                    <form id="update-password-form">
                                        <div class="mb-3">
                                            <label for="password" class="form-label">New Password</label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                                <input type="password" class="form-control" id="password"
                                                    name="password" placeholder="Enter new password">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                                <input type="password" class="form-control" id="confirmPassword"
                                                    name="confirmPassword" placeholder="Confirm new password">
                                            </div>
                                        </div>
                                        <div id="errorMessage" style="display: none;color: #dc3545;"></div>
                                        <button type="submit" class="btn btn-primary w-100 mt-3">Update
                                            Password</button>
                                    </form>
                                </div>
                            </div>


                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::App Content-->
                </main>
                <!--end::App Main-->

                <%- include('../layouts/admin/footer') %>

                    <script>
                        $(document).ready(function () {
                            $('#update-password-form').submit(function (e) {
                                e.preventDefault();
                                const userId = $('#userId').val();

                                const password = $('#password').val();
                                const confPassword = $('#confirmPassword').val();
                                $('#errorMessage').text('');
                                if (!password || !confPassword) {
                                    $('#errorMessage').text('Please fill new password and confirm password').show();
                                    return;
                                }

                                if (password !== confPassword) {
                                    $('#errorMessage').text('Please enter confirm password same as new password').show();
                                    return;
                                }
                                const formData = {
                                    password
                                };
                                $.ajax({
                                    url: '/admin/auth/password/' + userId,
                                    type: 'POST',
                                    data: formData,
                                    success: function (response) {
                                        console.log(response);
                                        if (response.status) {
                                            alert(response.message);
                                            $('#update-password-form')[0].reset();

                                        }
                                    },
                                    error: function (error) {
                                        if (handleAuthRedirect(error)) return;
                                        const errMsg = error.responseJSON && error.responseJSON.message ? error.responseJSON.message : 'Something went wrong!';

                                        $('#errorMessage').text(errMsg).show();

                                    }
                                })

                            })

                            function handleAuthRedirect(error) {
                                const response = error.responseJSON;
                                if (error.status === 401) {
                                    window.location.href = '/admin/login';
                                    return true;
                                }
                                return false;
                            }


                        })
                    </script>

    </body>
    <!--end::Body-->

    </html>